.img {
  width: 110.63px;
  height: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.bg-img {
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.4) 20%
    ),
    radial-gradient(98% 98% at 50% 0%, rgba(0, 0, 0, 0.4) 10%, #060212),
    url("https://beam-images.warnermediacdn.com/2023-10/max_quilt_sports_news_oct_2023.jpg?host=wbd-dotcom-drupal-prd-us-east-1.s3.amazonaws.com&w=2000");
}

.h-100vh {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.max-section-hero {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    180deg,
    hsl(235deg 83% 16%) 0%,
    hsl(235deg 79% 15%) 23%,
    hsl(237deg 74% 14%) 33%,
    hsl(239deg 68% 13%) 41%,
    hsl(244deg 68% 12%) 49%,
    hsl(248deg 70% 10%) 56%,
    hsl(251deg 72% 9%) 63%,
    hsl(254deg 75% 8%) 71%,
    hsl(254deg 78% 6%) 80%,
    hsl(251deg 84% 5%) 100%
  );
}

.container:after {
  content: "";
  background: linear-gradient(
    rgba(0, 0, 0, 0.55) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.45) 50%,
    rgba(0, 0, 0, 0.25) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  inset: 0px;
  height: 120px;
  width: 100%;
  pointer-events: none;
  position: fixed;
  z-index: 9;
}

@media (min-width: 576px) and (max-width: 1024px) {
  .bg-img {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.4) 20%
      ),
      radial-gradient(98% 98% at 50% 0%, rgba(0, 0, 0, 0.4) 10%, #060212),
      url("https://beam-images.warnermediacdn.com/2023-10/max_quilt_sports_news_oct_2023.jpg?host=wbd-dotcom-drupal-prd-us-east-1.s3.amazonaws.com&w=414");
  }
}

.max-section-hero .my-5 {
  margin-bottom: 10rem !important;
}
.max-column-hero .row {
  width: 100vw;
  height: 100px;
  justify-content: center;
  background: rgba(15, 15, 15, 0.6);
  margin: -16px 0 0 -15px;
}
.max-column-hero .form-control {
  background: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.max-column-hero .form-label-group > label {
  color: rgba(62, 59, 68, 0.7);
}

.max-section-hero h1 > svg {
  margin-top: 10px !important;
  max-width: 400px;
}

.max-section-hero .subtitle {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin-top: -10px !important;
}

.max-section-hero .date {
  font-size: 50px;
  text-align: center;
  color: #00f0ff;
  font-weight: 700;
  margin-bottom: 100px;
}

.px-5.pt-5 {
  padding-top: 0 !important;
}

.max-section-hero h1 {
  font-size: 3.05rem;
  text-align: left;
}

.max-section-hero .text-center p {
  font-size: 40px;
  margin-bottom: 10rem;
}

.legal-disclaimer-mail {
  position: absolute;
  font-size: 12px;
  text-align: center;
  /*max-width: 800px;*/
  left: 50%;
  transform: translateX(-50%);
  margin-top: -40px;
}

.intro {
  text-align: center;
  font-size: 40px;
  line-height: 43px;
  font-weight: 700;
  margin-top: 100px;
}
.prices {
  text-align: center;
  font-size: 28px;
}
.price-bold {
  font-weight: 700;
}
@media (max-width: 576px) {
  .max-section-hero-parent::before {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 0) 20%
    );
  }

  .max-column-hero .row {
    width: 100vw;
    padding: 0 20px 124px 20px;
    margin-left: -15px;
  }

  .max-column-hero .form-group {
    padding: 0;
  }

  .max-column-hero .form-label-group {
    margin: 0;
  }

  .max-section-hero .iOWzCO.btn--secondary {
    margin-top: 10px;
    border-radius: 5px;
  }

  .max-column-hero .form-control {
    border-radius: 5px;
  }

  .max-section-hero .text-center p {
    margin-bottom: 3rem;
  }

  .max-section-hero h3 {
    padding-top: 3rem;
  }

  .max-section-hero .subtitle {
    font-size: 24px;
    text-align: center;
    margin-bottom: -35px !important;
    letter-spacing: 5px !important;
  }

  .max-section-hero .date {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .max-section-hero h1 > svg {
    margin-top: 0;
  }

  .max-section-hero .my-5 {
    margin-bottom: 5rem !important;
  }

  .max-section-hero .legal-disclaimer-mail {
    font-size: 10px;
    margin-top: 0px;
    padding: 0 30px;
  }

  .max-column-hero .form-label-group {
    padding-right: 0 !important;
  }

  .prices {
    padding: 0 70px;
    margin-top: 80px;
    line-height: 30px;
  }

  .intro {
    margin-top: 40px;
  }
}

@media (max-width: 1200px) {
  .max-column-hero .form-label-group {
    padding-right: 20px;
  }

  .legal-disclaimer-mail {
    width: 100vw;
    background: rgba(15, 15, 15, 0.6);
    margin-top: 0 !important;
  }

  .max-section-hero .iOWzCO.btn--secondary {
    margin-top: 10px;
    border-radius: 5px;
  }
}
