.bg-black {
  background-color: black;
}

.logo img {
  height: 24px;
  z-index: 1;
  position: relative;
}

.header {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0) 0px 8px 24px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  width: 100vw;
  z-index: 10;
  padding: 0 40px;
}

.space {
  display: flex;
  gap: 5px;
}
